<?php
/**
 * @license   http://opensource.org/licenses/BSD-3-Clause BSD-3-Clause
 * @copyright Copyright (c) 2015 Julien Guittard (http://julienguittard.com)
 */

return [
    'ssl_config' => [
        'sslcapath' => '/etc/ssl/certs'
    ],
    'zoho' => [
        'organization_id' => '',
        'auth_token' => '',
    ],
];